GAS_RESERVE='5'
REFRESH_TIME='30'
SHARD='0'
NETWORK='mainnet'
NETWORK_SWITCH='t'
RPC_NET='https://rpc.s0.t.hmny.io'
RPC_NET_SHARD='https://rpc.s0.t.hmny.io'
HARMONY_DIR='/home/serviceharmony/harmony'
VALIDATOR_WALLET=''
SERVICE_NAME='harmony'
VSTATSBOT_TOKEN=''
REFRESH_OPTION='False'
HMY_UPGRADE_AVAILABLE='False'
REWARDS_WALLET=''
PASS_SWITCH='--passphrase-file /home/serviceharmony/harmony/passphrase.txt'