GAS_RESERVE='5'
REFRESH_TIME='30'
SHARD='0'
HARMONY_DIR='/home/serviceharmony/harmony'
VALIDATOR_WALLET=''
SERVICE_NAME='harmony'
REFRESH_OPTION='False'
REWARDS_WALLET=''
PASS_SWITCH='--passphrase-file /home/serviceharmony/harmony/passphrase.txt'